body 
{
	margin: auto;
    font-size: 1.2em;
}

p{
    margin: 5px;
}

h1{
    text-align: center;
    color: blue;
}

@media (min-width: 900px) {
	
    p{
        /* background-color:antiquewhite;
        border-radius: 8px; */
        padding: 1em;
        margin-left: 10px;
        margin-right: 10px;
    }
    .main-container{
		width: 80%;
        max-width: 1280px;
        margin: auto;
	}

   
   	
}